/*
navbar-css
 */
.navbar,.dropList{
    list-style-type: none;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    font-family: Arial;
    padding: 0;
}
.navbar>li{
    background-color:#3C486B;
    margin-top: auto;
    height: 100%;
    text-align: center;
}
.navbar>li>a{
    color: white;
    position: relative;
    top: 33%;
}
.navbar a{
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.navbar>li:hover ,.Dropdown-button:hover, .Dropdown-button:focus,.navbar>li>a:hover {
    background-color: #393646;
}
.Dropdown-button{
    width: 100%;
    color: white;
    background-color: #3C486B;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.dropList {
    /* for non-Vue component: position: relative; display: none; */
    width: 100%;
    position: absolute;
    padding: 0;
    color: white;
    grid-column-start: 4;
    grid-template-rows: auto auto;
    background-color: #C0DBEA;
}

.dropList>li:hover{
    background-color: #718096;
}
.dropList>li{
    height: 30px;
    color: white;
}


/*
body-css
 */
body{
    margin: 0;
}
main{
    margin-top: 50px;
}

/*
ArticleList-css
 */
.pageList{
    margin: auto;
}
.itemsList{
    border: 1px solid;
    margin: auto;
}
