@import 'navbar';
@import 'Articles';
@import 'newArticle';
$bodycolor:#FFF4F4;
$footcolor : #606C5D;
body{
    margin: 0;
    background-color: $bodycolor;
}
main{
    margin: 50px 20px 0 20px;
    height: 100%;
}
a{
    padding: 0;
}
footer{
    text-align:center ;
    background-color: $footcolor;
    padding: 15px;
}
.vue-scroll-up {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
  border: rgba(0, 0, 0, 0.658);
  border-radius: 100px;
  bottom: 100px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 55px;
  justify-content: center;
  position: fixed;
  right: 10px;
  width: 55px;
  z-index: 99;
}
